.elojob {
  width: 350px;
  height: 400px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  margin-left: 450px;
  margin-top: 70px;
}
.caixa-berde {
  width: 350px;
  height: 400px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  margin-left: 450px;
  margin-top: 70px;
}
.butao {
  width: 150px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  margin-left: -65px;
}
.butao-black {
  width: 150px;
  height: 150px;
  background-color: #1a202c;
  box-shadow: 0 15px 25px rgba(255, 255, 255, 0.1);
  margin-left: -65px;
}
.textPayment {
  margin-left: 60px;
}
.formInfo {
  width: 300px;
  height: 0px;
  margin-top: 20px;
  margin-left: 40px;
}
.textQR {
  margin-left: 110px;
}
.boxCode {
  width: 250px;
  background-color: #405b18;
  border-radius: 5%;
  height: 1px;
  margin-left: 40px;
}
.codepix {
  margin-left: 100px;
  width: 30px;
  height: 25px;
  border-radius: 50%;
}
.icon {
  margin-left: 0px;
  background-color: #405b18; /* Cor de fundo */
  border: none; /* Remove a borda */
  color: white; /* Cor do texto */
  padding: 15px 20px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remove a decoração do texto */
  display: inline-block; /* Exibe como bloco em linha */
  font-size: 16px; /* Tamanho da fonte */
  margin: 4px 2px; /* Margem externa */
  transition-duration: 0.4s; /* Duração da transição */
  cursor: pointer; /* Cursor ao passar por cima */
  border-radius: 8px; /* Raio das bordas */
}
.icon-black {
  margin-left: 0px;
  background-color: greenyellow; /* Cor de fundo */
  border: none; /* Remove a borda */
  color: black; /* Cor do texto */
  padding: 15px 20px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Remove a decoração do texto */
  display: inline-block; /* Exibe como bloco em linha */
  font-size: 16px; /* Tamanho da fonte */
  margin: 4px 2px; /* Margem externa */
  transition-duration: 0.4s; /* Duração da transição */
  cursor: pointer; /* Cursor ao passar por cima */
  border-radius: 8px; /* Raio das bordas */
}
.irmaozinho {
  width: 250px;
  height: 00px;
}
.CVV {
  width: 100px;
}
.ultima {
  display: flex;
}
.data {
  margin-left: 25%;
}
