.blink-me {
  animation: blinker 10s linear infinite;
  border-radius: 20rem;
}

@keyframes blinker {
  0% {
    color: transparent;
    background-color: #405b18;
    opacity: 50;
  }
  100% {
    background-color: transparent;
    color: #405b18;
    opacity: 0;
  }
}
