.letreiro {
  margin-left: 450px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.carrosel {
  margin-top: 8.6rem;
  margin-bottom: 50px;
}
.letreiro1 {
  margin-left: 320px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.card2 {
  padding: 3px 3px 3px 3px;
}
.card3 {
  margin: 4px 4px 4px 4px !important;
}
.corpo-dicas {
  display: flex;
}

.linhaslaterais {
  border-left: solid 3px #000000;
  padding-right: 20px;
  padding-left: 20px;
  height: 150px;
  margin-top: 20px;
}

.texto-dica {
  width: 260px;
}
.titulo-dicas {
  text-align: center;
}
.fotoflor {
  width: 180px;
  margin-top: 0% !important;
  padding-top: 0% !important;
  margin-left: 25px;
}
.texto-dica h5 {
  margin-top: 20px;
}
.fotoflor2 {
  width: 180px;
  margin-top: 0% !important;
  padding-top: 0% !important;
}
.linha2 {
  text-align: right;
  border-right: solid 3px #000000;
  margin-left: 65px;
  height: 150px;
  margin-top: 10px;
}
.linha2-corpo {
  display: flex;
}
.textos {
  width: 260px;
  text-align: right;
  margin-right: 20px;
  height: 50px;
}
.titulo-linha {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
}
.segunda {
  display: flex;
}
