.Medina {
  width: 550px;
  height: 520px;
  border-radius: 45px;
  background-color: #870000;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  margin-left: 100px;
}
.elojob{
  background-color: rgb(205, 50, 50);
  width: 450px;
  height: 330px;
 }
 .caixa-berde{
  background-color: gainsboro;width: 450px;
  height: 330px;
 }
 .butao{
  width: 150px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1); 
 }
